* {
    font-family: Georgia;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

.menu li {
    padding: 10px;
}

.green-part{
    background-color: #0C540C;
}
.navbar {
    display: flex;
    background-color:  #0C540C;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 0;
    list-style: none;
    display: flex;
}

.menu a {
    color: whitesmoke;
    font-size: 18px;
    line-height: 36px;
    padding: 0px 16px;
}

.menu li.selected {
    background-color: whitesmoke;
}

.menu a.selected {
    color: #0C540C;
}

.menu li a:hover {
    text-decoration: underline;
}

.menu a.selected:hover {
    text-decoration: underline;
}

.header-text {
    color: #323232;
    font-size: 20px;
}

.title {
    display: flex;
    padding: 20px;
}

.video {
    position: relative;
    left: 11%;

}

.btn {
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-weight: 1000;
    width: 130px;
    margin: 10px 0;
}


.width-300px{
    width: 300px;
}
.btn-green {
    background: #0C540C;
    color: white;
}
.btn-white{
    background: white;
    color: #0C540C;
}

.btn-size-height-40px{
    height: 40px;
}


.btn-green:hover {
    background: linear-gradient(#0C540C, lime) green;
    color: white;
}

.btn {
    cursor: pointer;
}

.font-size-30px{
    font-size: 30px;
}

.color-gray{
    color: #323232;
}

.color-green{
    color:#0C540C;
}

.color-yellow{
    color:gold;
}

.color-aqua{
    color: aqua;
}

.color-red{
    color:red;
}

.color-limegreen{
    color:limegreen;
}

.color-pink{
    color:lightpink;
}

.color-litegray{
    color:darkgray;
}
.color-white{
    color:whitesmoke;
}
.padding-10px{
    padding:10px;
}

.padding-left{
    padding-left: 5%;
}

.all-list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.part-list {
    display: inline-block;
    width: 28%;
    padding: 15px;
    margin: 5px;
}

.pictures-nature{
    display: inline-block;
    width: 24%;
    margin: 5px;
}
.pictures-news{
    display: inline-block;
    width: 27%;
    margin: 5px;
}

.font-size-17px{
    font-size: 17px;
}

.font-size-20px{
    font-size: 20px;
}

.font-size-25px{
    font-size:26px;
}

.font-size-3em{
    font-size: 3em;
}

.font-size-4em{
    font-size: 4em;
}
.margin-15px{
    margin: 15px;
}

.margin-left-10px{
    margin-left: 10px;
}

.margin-top-10px{
    margin-top: 10px;
}

.margin-bottom-20px{
    margin-bottom: 20px;
}
.background-image{
    background-image: url("pictures/1.jpg");
    background-size: cover;
    background-position: center;
    height: 410px;
}

.margin-left-33{
    margin-left:32%;
}
.white-line {
    background-color: white;
    height: 0.5px;
}

.footer-contacts{
    position:relative;
    margin-left:auto;
}

.form-control {
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #ced4da;
    padding: 4px;
    display: block;
    margin-top: 10px;
    resize: none;
    width: 98%;
}

.display-flex{
    display: flex;
}

.partners-part{
    position: relative;
    left:28%;
    top:50%;
}

.left-30px{
    position: relative;
    left:15px;
}